{% extends 'base.html' %}
{% load static %}

{% block mainBody %}


<div class="container h-100">
    <div class="row align-items-center h-100">

        <div class="col-md-5 mx-auto">
            <div class="card align-items-center itemCrads">
                  <div class="card-body">
                    <form method="post">
                      {% csrf_token %}
                      {{ checkoutOrderForm.as_p }}
                      <input type="submit" value="Pay">
                    </form>
                    <br>
                    <a href="{% url "cart" %}">back to cart</a>
                  </div>
            </div>
        </div>



    </div>
</div>

{% endblock mainBody %}
