{% extends 'base.html' %}

{% block mainBody %}
content here

<div id="aboutCont">
  <div id="aboutTxtCont">
    <p><span class="white">About Us: </span>Our organization had its early start in 2010, a little boy and his cousin had the idea of creating a short movie using a story he dreamed of. Lots of dedication and passion the two kids continued working to accomplish the dream. The development of The MoMa Company which name is derived from both kids’ names has become an entertaining and media creation company which also provides custom orders and services for the public </p>
  </div>
</div>

{% endblock mainBody %}
