{% extends 'base.html' %}
{% load static %}

{% block mainBody %}

{% url 'services' categoryid="si" as servicesPg1 %}
{% url 'services' categoryid="ai" as servicesPg2 %}
{% url 'services' categoryid="cv" as servicesPg3 %}
  <div id="navBar">
        <a href="{{servicesPg1}}" {% if request.path == servicesPg1 %} class="activeNav" {% endif %}>Still Images</a>
        <a href="{{servicesPg2}}" {% if request.path == servicesPg2 %} class="activeNav" {% endif %}>Animated Images</a>
        <a href="{{servicesPg3}}" {% if request.path == servicesPg3 %} class="activeNav" {% endif %}>Customized Videos</a>
</div>

      <!-- below navigation mid container - items spisific-->
      <div id="itemsCont" >

        <div class="container h-100">
            <div class="row align-items-center h-100">

              {% for item in service_Items %}
                <div class="col-md-3 mx-auto">
                    <div class="card align-items-center itemCrads">
                      <h5 class="card-title">{{item.name}}</h5>
                          <img class="card-img-top" src="{% static item.image %}" alt="{{item.name}}">
                          <div class="card-body">
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text red">Price: {{item.price}} BHD</p>
                            {% url 'serviceDetails' serviceId=item.id as itemLink %}
                            <a href="{{itemLink}}" class="btn btn-primary mb-2">View Details</a>
                            <form class="form-inline">
                              <div class="input-group mb-3">
                                <input type="number" class="form-control" placeholder="Qty" min="1">
                                <div class="input-group-append">
                                  <button class="btn btn-secondary" type="button">Button</button>
                                </div>
                              </div>
                            </form>
                          </div>
                    </div>
                </div>
              {% endfor %}


              <div class="col-md-3 mx-auto">
                  <div class="card align-items-center itemCrads">
                    <br>
                    <a {% if request.path == servicesPg1 %} href="/addService/si/" {% elif request.path == servicesPg2 %} href="/addService/ai/" {% elif request.path == servicesPg3 %} href="/addService/cv/" {% endif %}  class="btn btn-primary mb-2">+</a>
                    <br>
                  </div>
              </div>

            </div>
        </div>

      </div>

{% endblock mainBody %}
