{% extends 'base.html' %}
{% load static %}


{% block mainBody %}


      <!-- below navigation mid container - items spisific-->
      <div id="itemsCont" >

        <div class="container w-80">
          <div class="row">

            <div class="card col-md-4 itemCrads">
              <h1>{{ service_Item.title }}</h1>

              <img src="{% static service_Item.image %}" alt="{{ service_Item.title }}" width="100%">
              <br>
              <br>
              <h5>About the image</h5>
              <p>{{ service_Item.description }}</p>
            </div>

            <div class="card col-md-4 itemCrads align-items-center">
              <h3>Leave a comment</h3>
              <form method="POST">
                {% csrf_token %}
                {{commentForm.as_p}}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

            <div class="card col-md-4 itemCrads">
              <h3>Comments</h3>
              <div class="row">
              {% for comment in allComments %}
              <div class="card rounded-3 mb-4">
              <p><b>On: </b>{{ comment.createdOn }}</p>
              <p><b>{{ comment.user }}</b> wrote:</p>

              <h2>{{comment.title}}</h2>
              <p>{{ comment.body }}</p>
              </div>
              {% endfor %}
            </div>
            </div>

            </div>
        </div>


      </div>

{% endblock mainBody %}
