{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <title>The Moma Company</title>

    <link rel="icon" href="{% static 'MoMaShop/base/media/momaLogo.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'MoMaShop/base/styles.css' %}">

  </head>

  <body>

    <!--the header div for the top of the page and navigation bar-->
    <div id="header">

      <!--the header logo of the site (moma long logo)-->
      <img src="{% static 'MoMaShop/base/media/bannerLogo.png' %}" alt="MoMa Logo" id="mainLogo">

      <!--left nav menus-->
      <div class="menuNav" id="menuR">
        {% url 'homePage' as homePg %}
        <a href="{{homePg}}" {% if request.path == homePg %} class="active" {% endif %} id="home"><img class="navIconR" src="{% static 'MoMaShop/base/media/home.png' %}" alt="Home Page">Home</a>
        {% url 'reviews' as reviewPg %}
        <a href="{{reviewPg}}" {% if request.path == reviewPg %} class="active" {% endif %} id="services"><img class="navIconR" src="{% static 'MoMaShop/base/media/services.png' %}" alt="Services Page">Services</a>
        <a href="cart.html" id="cart"><img class="navIconR" src="{% static 'MoMaShop/base/media/cart.png' %}" alt="View Cart Page">Cart</a>
        <a href="reviews.html" id="reviews"><img class="navIconR" src="{% static 'MoMaShop/base/media/reviews.png' %}" alt="Reviews Page">Reviews</a>
      </div>

      <!--right nav menus-->
      <div class="menuNav" id="menuL">
        <a href="tel:37702893" id="phone"><img class="navIconL" src="{% static 'MoMaShop/base/media/call.png' %}" alt="Home Page">Call Us</a>
        <a href="mailto:momacorporation@gmail.com" id="mail"><img class="navIconL" src="{% static 'MoMaShop/base/media/mail.png' %}" alt="Services Page">Email Us</a>
      </div>

    </div>

    <!--fixed bottem picture-->
    <img id="btmPicture" src="{% static 'MoMaShop/base/media/sidePhoto.png' %}" alt="Hato & Youta waving">


    <!-- ***************************************************** page spisific parts here ***************************************************** -->



    <!-- full mid container - no background for home vid-->
    <div id="homeCont">


      {% block mainBody %}

      {% endblock mainBody %}

    </div>


    <!-- About Us container-->


    <!-- page footer for copyright-->
    <div id="bttmBar">
      <p>Designed by the The MoMa Company © | 2021 </p>
    </div>

  </body>
</html>
